# Data Science Nanodegree - Blog Post
Created By: Renan Vieira Dias

## Questions
- Which skills does each data job require?
    - ['LanguageWorkedWith']
    - ['LanguageDesireNextYear']
    - ['DatabaseWorkedWith']
    - ['DatabaseDesireNextYear']
    - ['PlatformWorkedWith']
    - ['PlatformDesireNextYear']
    - ['WebFrameWorkedWith']
    - ['WebFrameDesireNextYear']
    - ['MiscTechWorkedWith']
    - ['MiscTechDesireNextYear']
    - ['DevEnviron']
    - ['OpSys']
- How long you have to be in the field to get to be senior? (Or equivalent money)
    - ['YearsCodePro']
    - ['CurrencySymbol','CurrencyDesc','CompTotal','CompFreq','ConvertedComp','WorkWeekHrs']
- What are some variables that influence your salary per hours?
    - ['EdLevel']
    - ALL of the above

## Segment
- ['Country'] = ?????
- ['Employment'] = ['Employed full-time','Employed part-time']
- ['devtype_interest'] = ['Data or business analyst','Data scientist or machine learning specialist','Database administrator','Engineer, data']

### Imports

In [1]:
import pandas as pd
import math
import matplotlib.pyplot as plt

### Functions

In [28]:
def optionIsInCell(cell, option):
    if str(cell).find(option)!=-1:
        return 1
    return 0

In [29]:
def transformingColumnByOptions(df, column, options, prefix = False, separator='_'):
    for each in options:
        new_column = column + separator + each if prefix else each
        df[new_column] = df[column].apply(optionIsInCell, option = each)
    return df

In [3]:
def isOneOfTheList(x, list_options):
    for each in list_options:
        if each in x:
            return True
    return False

In [4]:
def getOptionOfMultipleSelection(df, column, separator = ';'):
    flat_list = []
    for sublist in df[column].dropna().str.split(pat=separator, expand=False):
        for item in sublist:
            if item not in flat_list:
                flat_list.append(item)
    return flat_list

### Reading Data Files

In [5]:
df = pd.read_csv('survey_results_public.csv')
df_schema = pd.read_csv('survey_results_schema.csv')

### Collecting Columns Options

In [6]:
columnsOptions = {}
columnsToGetOptions =[
        'DevType'
        ,'EdLevel'
        ,'LanguageWorkedWith'
        ,'LanguageDesireNextYear'
        ,'DatabaseWorkedWith'
        ,'DatabaseDesireNextYear'
        ,'PlatformWorkedWith'
        ,'PlatformDesireNextYear'
        ,'WebFrameWorkedWith'
        ,'WebFrameDesireNextYear'
        ,'MiscTechWorkedWith'
        ,'MiscTechDesireNextYear'
        ,'DevEnviron'
        ,'OpSys'
    ]
for each in columnsToGetOptions:
    tempList = getOptionOfMultipleSelection(df,each)
    tempList.sort()
    columnsOptions[each] = tempList

In [7]:
columnsOptions

{'DatabaseDesireNextYear': ['Cassandra',
  'Couchbase',
  'DynamoDB',
  'Elasticsearch',
  'Firebase',
  'MariaDB',
  'Microsoft SQL Server',
  'MongoDB',
  'MySQL',
  'Oracle',
  'Other(s):',
  'PostgreSQL',
  'Redis',
  'SQLite'],
 'DatabaseWorkedWith': ['Cassandra',
  'Couchbase',
  'DynamoDB',
  'Elasticsearch',
  'Firebase',
  'MariaDB',
  'Microsoft SQL Server',
  'MongoDB',
  'MySQL',
  'Oracle',
  'Other(s):',
  'PostgreSQL',
  'Redis',
  'SQLite'],
 'DevEnviron': ['Android Studio',
  'Atom',
  'Coda',
  'Eclipse',
  'Emacs',
  'IPython / Jupyter',
  'IntelliJ',
  'Komodo',
  'Light Table',
  'NetBeans',
  'Notepad++',
  'PHPStorm',
  'PyCharm',
  'RStudio',
  'RubyMine',
  'Sublime Text',
  'TextMate',
  'Vim',
  'Visual Studio',
  'Visual Studio Code',
  'Xcode',
  'Zend'],
 'DevType': ['Academic researcher',
  'Data or business analyst',
  'Data scientist or machine learning specialist',
  'Database administrator',
  'Designer',
  'DevOps specialist',
  'Developer, QA or test',
  'Developer, back-end',
  'Developer, desktop or enterprise applications',
  'Developer, embedded applications or devices',
  'Developer, front-end',
  'Developer, full-stack',
  'Developer, game or graphics',
  'Developer, mobile',
  'Educator',
  'Engineer, data',
  'Engineer, site reliability',
  'Engineering manager',
  'Marketing or sales professional',
  'Product manager',
  'Scientist',
  'Senior executive/VP',
  'Student',
  'System administrator'],
 'EdLevel': ['Associate degree',
  'Bachelor’s degree (BA, BS, B.Eng., etc.)',
  'I never completed any formal education',
  'Master’s degree (MA, MS, M.Eng., MBA, etc.)',
  'Other doctoral degree (Ph.D, Ed.D., etc.)',
  'Primary/elementary school',
  'Professional degree (JD, MD, etc.)',
  'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
  'Some college/university study without earning a degree'],
 'LanguageDesireNextYear': ['Assembly',
  'Bash/Shell/PowerShell',
  'C',
  'C#',
  'C++',
  'Clojure',
  'Dart',
  'Elixir',
  'Erlang',
  'F#',
  'Go',
  'HTML/CSS',
  'Java',
  'JavaScript',
  'Kotlin',
  'Objective-C',
  'Other(s):',
  'PHP',
  'Python',
  'R',
  'Ruby',
  'Rust',
  'SQL',
  'Scala',
  'Swift',
  'TypeScript',
  'VBA',
  'WebAssembly'],
 'LanguageWorkedWith': ['Assembly',
  'Bash/Shell/PowerShell',
  'C',
  'C#',
  'C++',
  'Clojure',
  'Dart',
  'Elixir',
  'Erlang',
  'F#',
  'Go',
  'HTML/CSS',
  'Java',
  'JavaScript',
  'Kotlin',
  'Objective-C',
  'Other(s):',
  'PHP',
  'Python',
  'R',
  'Ruby',
  'Rust',
  'SQL',
  'Scala',
  'Swift',
  'TypeScript',
  'VBA',
  'WebAssembly'],
 'MiscTechDesireNextYear': ['.NET',
  '.NET Core',
  'Ansible',
  'Apache Spark',
  'Chef',
  'Cordova',
  'CryEngine',
  'Flutter',
  'Hadoop',
  'Node.js',
  'Other(s):',
  'Pandas',
  'Puppet',
  'React Native',
  'TensorFlow',
  'Torch/PyTorch',
  'Unity 3D',
  'Unreal Engine',
  'Xamarin'],
 'MiscTechWorkedWith': ['.NET',
  '.NET Core',
  'Ansible',
  'Apache Spark',
  'Chef',
  'Cordova',
  'CryEngine',
  'Flutter',
  'Hadoop',
  'Node.js',
  'Other(s):',
  'Pandas',
  'Puppet',
  'React Native',
  'TensorFlow',
  'Torch/PyTorch',
  'Unity 3D',
  'Unreal Engine',
  'Xamarin'],
 'OpSys': ['BSD', 'Linux-based', 'MacOS', 'Windows'],
 'PlatformDesireNextYear': ['AWS',
  'Android',
  'Arduino',
  'Docker',
  'Google Cloud Platform',
  'Heroku',
  'IBM Cloud or Watson',
  'Kubernetes',
  'Linux',
  'MacOS',
  'Microsoft Azure',
  'Other(s):',
  'Raspberry Pi',
  'Slack',
  'Windows',
  'WordPress',
  'iOS'],
 'PlatformWorkedWith': ['AWS',
  'Android',
  'Arduino',
  'Docker',
  'Google Cloud Platform',
  'Heroku',
  'IBM Cloud or Watson',
  'Kubernetes',
  'Linux',
  'MacOS',
  'Microsoft Azure',
  'Other(s):',
  'Raspberry Pi',
  'Slack',
  'Windows',
  'WordPress',
  'iOS'],
 'WebFrameDesireNextYear': ['ASP.NET',
  'Angular/Angular.js',
  'Django',
  'Drupal',
  'Express',
  'Flask',
  'Laravel',
  'Other(s):',
  'React.js',
  'Ruby on Rails',
  'Spring',
  'Vue.js',
  'jQuery'],
 'WebFrameWorkedWith': ['ASP.NET',
  'Angular/Angular.js',
  'Django',
  'Drupal',
  'Express',
  'Flask',
  'Laravel',
  'Other(s):',
  'React.js',
  'Ruby on Rails',
  'Spring',
  'Vue.js',
  'jQuery']}

### Checking the Employment
- Columns: Employment
- Question: Which of the following best describes your current employment status?
- Interest In the following DevTypes:
    - 'Employed full-time'
    - 'Employed part-time'

In [8]:
# Get only employed surveys
df = df[ df['Employment'].isin(['Employed full-time','Employed part-time']) ]

### Checking Every Work Title
- Columns: DevType
- Question: Which of the following describe you? Please select all that apply.
- Interest In the following DevTypes:
    - 'Data or business analyst'
    - 'Data scientist or machine learning specialist'
    - 'Database administrator'
    - 'Engineer, data'

In [9]:
devtype_interest = [
    'Data or business analyst'
    ,'Data scientist or machine learning specialist'
    ,'Database administrator'
    ,'Engineer, data'
]

In [30]:
# Getting all types of DevTypes
df = transformingColumnByOptions( df, 'DevType', columnsOptions['DevType'])

In [ ]:
# Clearing those with no interest on data DevType
df = df.dropna(subset = ['DevType']).copy()
df['datajobs'] = df['DevType'].apply( isOneOfTheList, list_options = devtype_interest)
df = df[df['datajobs']]
df = df.drop(['datajobs'], axis=1)

In [31]:
df.head(2)
df.shape

(68909, 108)

### Calculating Equivalent Salary

In [32]:
weeksInYear = 52
df['DollarPerHour'] = df['ConvertedComp']/df['WorkWeekHrs']/weeksInYear
df[['Country','CurrencySymbol','CurrencyDesc','CompTotal','CompFreq','ConvertedComp','WorkWeekHrs','DollarPerHour']]

,Country,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,DollarPerHour
2,Thailand,THB,Thai baht,23000.0,Monthly,8820.0,40.0,4.240385
3,United States,USD,United States dollar,61000.0,Yearly,61000.0,80.0,14.663462
4,Ukraine,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,NaN
5,Canada,CAD,Canadian dollar,40000.0,Monthly,366420.0,15.0,469.769231
8,New Zealand,NZD,New Zealand dollar,138000.0,Yearly,95179.0,32.0,57.198918
9,India,INR,Indian rupee,950000.0,Yearly,13293.0,70.0,3.651923
11,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,United States,USD,United States dollar,90000.0,Yearly,90000.0,40.0,43.269231
13,Germany,EUR,European Euro,4150.0,Monthly,57060.0,40.0,27.432692
15,United Kingdom,GBP,Pound sterling,29000.0,Monthly,455352.0,40.0,218.919231
16,Australia,AUD,Australian dollar,90000.0,Yearly,65277.0,45.0,27.896154
17,Russian Federation,RUB,Russian ruble,120000.0,Monthly,21996.0,40.0,10.575000
18,Brazil,BRL,Brazilian real,9500.0,Monthly,31140.0,8.0,74.855769
19,Lithuania,EUR,European Euro,3000.0,Monthly,41244.0,140.0,5.665385
21,United States,USD,United States dollar,103000.0,Yearly,103000.0,40.0,49.519231
22,United States,USD,United States dollar,69000.0,Yearly,69000.0,40.0,33.173077
23,Israel,ILS,Israeli new shekel,8000.0,Monthly,26388.0,50.0,10.149231
24,South Africa,ZAR,South African rand,7000.0,Monthly,6300.0,45.0,2.692308
25,United States,USD,United States dollar,114000.0,Yearly,114000.0,40.0,54.807692
27,Turkey,TRY,Turkish lira,NaN,Monthly,NaN,40.0,NaN
28,United States,USD,United States dollar,2000.0,Weekly,100000.0,40.0,48.076923
29,Switzerland,CHF,Swiss franc,90000.0,Yearly,90417.0,36.0,48.299679
31,United States,USD,United States dollar,22000.0,Weekly,1100000.0,37.0,571.725572
32,Argentina,USD,United States dollar,700.0,Monthly,8400.0,35.0,4.615385
34,United States,USD,United States dollar,80000.0,Yearly,80000.0,40.0,38.461538
35,Germany,EUR,European Euro,1500.0,Monthly,20628.0,38.0,10.439271
36,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Czech Republic,CZK,Czech koruna,96000.0,Monthly,51312.0,39.0,25.301775
38,United States,USD,United States dollar,156000.0,Yearly,156000.0,50.0,60.000000
40,Malaysia,MYR,Malaysian ringgit,NaN,Monthly,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
88802,Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88803,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88804,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88805,Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88808,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88811,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88817,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88825,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88826,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88828,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88830,Tunisia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88833,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88837,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88843,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88846,Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88850,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88852,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88853,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88854,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88864,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88867,Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88872,Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88875,Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88876,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Understanding Job Skills

In [33]:
jobskillsquestions = [
    'LanguageWorkedWith'
    ,'LanguageDesireNextYear'
    ,'DatabaseWorkedWith'
    ,'DatabaseDesireNextYear'
    ,'PlatformWorkedWith'
    ,'PlatformDesireNextYear'
    ,'WebFrameWorkedWith'
    ,'WebFrameDesireNextYear'
    ,'MiscTechWorkedWith'
    ,'MiscTechDesireNextYear'
    ,'DevEnviron'
    ,'OpSys'
]

In [34]:
# Creating each skill columns
for skillQuestion in jobskillsquestions:
    df = transformingColumnByOptions(df, skillQuestion, columnsOptions[skillQuestion], separator='_')

In [35]:
# Filtering only data science
# df_datascience = df[df['DevType_Data scientist or machine learning specialist']==1]

In [36]:
devtype_interest

['Data or business analyst',
 'Data scientist or machine learning specialist',
 'Database administrator',
 'Engineer, data']

In [37]:
df.groupby(devtype_interest).count()

                                                                                                              Respondent  \
Data or business analyst Data scientist or machine learning specialist Database administrator Engineer, data
0                        0                                             0                      0                    52909
                                                                                              1                     2108
                                                                       1                      0                     4699
                                                                                              1                      560
                         1                                             0                      0                     2443
                                                                                              1                      715
                                                                       1                      0                      261
                                                                                              1                      159
1                        0                                             0                      0                     1795
                                                                                              1                      365
                                                                       1                      0                      970
                                                                                              1                      316
                         1                                             0                      0                      705
                                                                                              1                      369
                                                                       1                      0                      255
                                                                                              1                      280

                                                                                                              MainBranch  \
Data or business analyst Data scientist or machine learning specialist Database administrator Engineer, data
0                        0                                             0                      0                    52731
                                                                                              1                     2104
                                                                       1                      0                     4687
                                                                                              1                      560
                         1                                             0                      0                     2437
                                                                                              1                      712
                                                                       1                      0                      259
                                                                                              1                      159
1                        0                                             0                      0                     1784
                                                                                              1                      365
                                                                       1                      0                      970
                                                                                              1                      315
                         1                                             0                      0                      703
                                                                                              1                      366
                                                                       1                      0                      253
                                                                                              1                      278

                                                                                                              Hobbyist  \
Data or business analyst Data scientist or machine learning specialist Database administrator Engineer, data
0                        0                                             0                      0                  52909
                                                                                              1                   2108
                                                                       1                      0                   4699
                                                                                              1                    560
                         1                                             0                      0                   2443
                                                                                              1                    715
                                                                       1                      0                    261
                                                                                              1                    159
1                        0                                             0                      0                   1795
                                                                                              1                    365
                                                                       1                      0                    970
                                                                                              1                    316
                         1                                             0                      0                    705
                                                                                              1                    369
                                                                       1                      0                    255
                                                                                              1                    280

                                                                                                              OpenSourcer  \
Data or business analyst Data scientist or machine learning specialist Database administrator Engineer, data
0                        0                                             0                      0                     52909
                                                                                              1                      2108
                                                                       1                      0                      4699
                                                                                              1                       560
                         1                                             0                      0                      2443
                                                                                              1                       715
                                                                       1                      0                       261
                                                                                              1                       159
1                        0                                             0                      0                      1795
                                                                                              1                       365
                                                                       1                      0                       970
                                                                                              1                       316
                         1                                             0                      0                       705
                                                                                              1                       369
                                                                       1                      0                       255
                                                                                              1                       280

                                                                                                              OpenSource  \
Data or business analyst Data scientist or machine learning specialist Database administrator Engineer, data
0                        0                                             0                      0                    51832
                                                                                              1                     2078
                                                                       1                      0                     4634
                                                                                              1                      551
                         1                                             0                      0                     2400
                                                                                              1                      711
                                                                       1                      0                      258
                                                                                              1                      158
1                        0                                             0                      0                     1752
                                                                                              1                      360
                                                                       1                      0                      962
                                                                                              1                      312
                         1                                             0                      0                      695
                                                                                              1                      365
                                                                       1                      0                      253
                                                                                              1                      276

                                                                                                              Employment  \
Data or business analyst Data scientist or machine learning specialist Database administrator Engineer, data
0                        0                                             0                      0                    52909
                                                                                              1                     2108
                                                                       1                      0                     4699
                                                                                              1                      560
                         1                                             0                      0                     2443
                                                                                              1                      715
                                                                       1                      0                      261
                                                                                              1                      159
1                        0                                             0                      0                     1795
                                                                                              1                      365
                                                                       1                      0                      970
                                                                                              1                      316
                         1                                             0                      0                      705
                                                                                              1                      369
                                                                       1                      0                      255
                                                                                              1                      280

                                                                                                              Country  \
Data or business analyst Data scientist or machine learning specialist Database administrator Engineer, data
0                        0                                             0                      0                 52862
                                                                                              1                  2108
                                                                       1                      0                  4699
                                                                                              1                   560
                         1                                             0                      0                  2443
                                                                                              1                   715
                                                                       1                      0                   261
                                                                                              1                   159
1                        0                                             0                      0                  1795
                                                                                              1                   365
                                                                       1                      0                   970
                                                                                              1                   316
                         1                                             0                      0                   705
                                                                                              1                   369
                                                                       1                      0                   255
                                                                                              1                   280

                                                                                                              Student  \
Data or business analyst Data scientist or machine learning specialist Database administrator Engineer, data
0                        0                                             0                      0                 52909
                                                                                              1                  2108
                                                                       1                      0                  4699
                                                                                              1                   560
                         1                                             0                      0                  2443
                                                                                              1                   715
                                                                       1                      0                   261
                                                                                              1                   159
1                        0                                             0                      0                  1795
                                                                                              1                   365
                                                                       1                      0                   970
                                                                                              1                   316
                         1                                             0                      0                   705
                                                                                              1                   369
                                                                       1                      0                   255
                                                                                              1                   280

                                                                                                              EdLevel  \
Data or business analyst Data scientist or machine learning specialist Database administrator Engineer, data
0                        0                                             0                      0                 51804
                                                                                              1                  2085
                                                                       1                      0                  4599
                                                                                              1                   550
                         1                                             0                      0                  2420
                                                                                              1                   712
                                                                       1                      0                   254
                                                                                              1                   154
1                        0                                             0                      0                  1760
                                                                                              1                   364
                                                                       1                      0                   944
                                                                                              1                   309
                         1                                             0                      0                   700
                                                                                              1                   366
                                                                       1                      0                   252
                                                                                              1                   270

                                                                                                              UndergradMajor  \
Data or business analyst Data scientist or machine learning specialist Database administrator Engineer, data
0                        0                                             0                      0                        47813
                                                                                              1                         1972
                                                                       1                      0                         4116

In [38]:
df.groupby(devtype_interest).mean().reset_index().transpose()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
Data or business analyst,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000,1.000000e+00,1.000000e+00
Data scientist or machine learning specialist,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,1.000000e+00,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000,1.000000,1.000000e+00,1.000000e+00
Database administrator,0.000000e+00,0.000000,1.000000e+00,1.000000e+00,0.000000e+00,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000e+00,0.000000,0.000000,1.000000e+00,1.000000e+00
"Engineer, data",0.000000e+00,1.000000,0.000000e+00,1.000000e+00,0.000000e+00,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000e+00,0.000000,1.000000,0.000000e+00,1.000000e+00
Respondent,4.455736e+04,44535.494782,4.444238e+04,4.520253e+04,4.439611e+04,42513.641958,42816.022989,43751.081761,44468.368802,42583.035616,44200.989691,4.600073e+04,42304.011348,45547.737127,4.263877e+04,4.459026e+04
Student,9.155342e-02,0.091082,9.789317e-02,8.392857e-02,1.964797e-01,0.144056,0.172414,0.138365,0.104735,0.128767,0.077320,6.012658e-02,0.131915,0.176152,1.843137e-01,2.928571e-01
CompTotal,5.324068e+11,672649.090852,1.148061e+06,1.792172e+06,1.673821e+06,461162.186620,247459.574468,476928.216667,701790.290218,321056.563910,992770.636968,2.790853e+06,452770.453831,734908.205036,5.435830e+06,1.742851e+07
ConvertedComp,1.269722e+05,153749.084799,1.283588e+05,1.156601e+05,1.414768e+05,144407.832746,136013.335106,123470.091667,131889.111650,122986.719697,122060.219707,1.593046e+05,141427.297244,144891.964029,1.545865e+05,1.712019e+05
WorkWeekHrs,4.202079e+01,42.805613,4.334018e+01,4.278008e+01,4.181812e+01,42.773083,40.443662,46.072183,41.913906,43.570288,44.016202,4.260069e+01,42.555500,42.715764,4.484856e+01,4.694690e+01
CodeRevHrs,4.918019e+00,4.948069,5.280063e+00,5.956633e+00,4.468560e+00,4.143908,6.133526,5.422414,5.644877,4.855505,6.234779,5.419118e+00,5.135224,5.581933,6.336364e+00,8.829609e+00
Age,3.072780e+01,30.810682,3.160097e+01,3.198641e+01,3.021507e+01,30.470229,31.329386,32.896296,33.033417,31.557927,34.597120,3.439236e+01,31.115385,31.075000,3.182192e+01,3.222907e+01
Academic researcher,4.269595e-02,0.075427,5.001064e-02,6.964286e-02,3.074089e-01,0.261538,0.226054,0.188679,0.092479,0.117808,0.097938,8.544304e-02,0.249645,0.211382,2.941176e-01,3.500000e-01
Designer,7.114102e-02,0.100569,2.243030e-01,2.553571e-01,5.607859e-02,0.048951,0.252874,0.257862,0.145404,0.131507,0.339175,3.196203e-01,0.078014,0.097561,3.411765e-01,4.428571e-01
DevOps specialist,9.066510e-02,0.136622,2.711215e-01,3.517857e-01,6.058125e-02,0.128671,0.306513,0.371069,0.086351,0.123288,0.214433,2.594937e-01,0.058156,0.135501,2.196078e-01,4.571429e-01
"Developer, QA or test",6.199323e-02,0.086812,1.791871e-01,2.660714e-01,3.233729e-02,0.069930,0.168582,0.207547,0.099721,0.101370,0.226804,2.151899e-01,0.041135,0.078591,1.960784e-01,3.821429e-01
"Developer, back-end",4.553290e-01,0.601992,7.699511e-01,8.089286e-01,3.708555e-01,0.534266,0.793103,0.786164,0.403343,0.534247,0.742268,7.531646e-01,0.312057,0.463415,6.901961e-01,8.000000e-01
"Developer, desktop or enterprise applications",1.890605e-01,0.197818,3.432645e-01,3.625000e-01,1.363078e-01,0.132867,0.337165,0.320755,0.229526,0.213699,0.449485,3.734177e-01,0.123404,0.157182,3.843137e-01,4.500000e-01
"Developer, embedded applications or devices",7.717024e-02,0.112429,1.198127e-01,1.625000e-01,6.958657e-02,0.090909,0.195402,0.220126,0.056267,0.071233,0.126804,1.455696e-01,0.051064,0.081301,1.882353e-01,3.428571e-01
"Developer, front-end",3.005349e-01,0.226755,5.252181e-01,5.142857e-01,1.248465e-01,0.141259,0.467433,0.389937,0.267409,0.224658,0.527835,4.841772e-01,0.143262,0.146341,4.627451e-01,5.678571e-01
"Developer, full-stack",5.129184e-01,0.430740,7.099383e-01,6.446429e-01,2.971756e-01,0.323077,0.681992,0.641509,0.398886,0.405479,0.649485,5.791139e-01,0.258156,0.333333,6.117647e-01,7.000000e-01
"Developer, game or graphics",4.057911e-02,0.040323,5.554373e-02,6.785714e-02,5.034793e-02,0.032168,0.130268,0.094340,0.023955,0.024658,0.047423,6.329114e-02,0.036879,0.027100,9.019608e-02,2.321429e-01
"Developer, mobile",1.677975e-01,0.105787,2.177059e-01,2.214286e-01,8.063856e-02,0.079720,0.256705,0.238994,0.115877,0.106849,0.187629,1.740506e-01,0.078014,0.084011,2.627451e-01,3.357143e-01
Educator,3.717704e-02,0.055028,6.852522e-02,8.214286e-02,8.432255e-02,0.088112,0.111111,0.132075,0.072423,0.090411,0.097938,9.493671e-02,0.086525,0.105691,1.450980e-01,3.250000e-01
"Engineer, site reliability",2.428698e-02,0.098672,8.512449e-02,2.910714e-01,1.146132e-02,0.055944,0.053640,0.251572,0.016713,0.052055,0.058763,1.993671e-01,0.009929,0.048780,5.098039e-02,3.500000e-01
Engineering manager,4.496399e-02,0.099620,6.469462e-02,1.803571e-01,4.379861e-02,0.089510,0.076628,0.144654,0.044568,0.079452,0.081443,1.645570e-01,0.035461,0.081301,6.274510e-02,3.464286e-01
Marketing or sales professional,5.065301e-03,0.009013,1.489679e-02,1.071429e-02,5.730659e-03,0.004196,0.003831,0.025157,0.033983,0.019178,0.024742,2.848101e-02,0.017021,0.024390,7.450980e-02,1.964286e-01
Product manager,3.126122e-02,0.046964,8.874229e-02,1.107143e-01,3.315596e-02,0.040559,0.134100,0.132075,0.110864,0.095890,0.169072,1.613924e-01,0.078014,0.094851,1.372549e-01,3.142857e-01
Scientist,2.277495e-02,0.062619,2.021707e-02,3.928571e-02,2.460090e-01,0.292308,0.172414,0.194969,0.046797,0.060274,0.026804,4.746835e-02,0.165957,0.219512,1.882353e-01,3.607143e-01
Senior executive/VP,1.583852e-02,0.018027,4.107257e-02,4.285714e-02,2.333197e-02,0.026573,0.076628,0.081761,0.031755,0.032877,0.085567,6.329114e-02,0.028369,0.027100,1.019608e-01,2.464286e-01
System administrator,5.632312e-02,0.108159,4.258353e-01,4.928571e-01,4.666394e-02,0.071329,0.394636,0.503145,0.086351,0.120548,0.430928,4.715190e-01,0.039716,0.075881,3.686275e-01,5.821429e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
React Native,1.717099e-01,0.135674,1.702490e-01,1.589286e-01,8.268522e-02,0.097902,0.164751,0.144654,0.133148,0.117808,0.146392,1.107595e-01,0.093617,0.097561,1.568627e-01,2.107143e-01
TensorFlow,1.624676e-01,0.290323,1.476910e-01,1.821429e-01,5.730659e-01,0.646154,0.375479,0.496855,0.206128,0.304110,0.151546,1.645570e-01,0.550355,0.598916,3.490196e-01,4.857143e-01
Torch/PyTorch,4.258255e-02,0.130930,3.256012e-02,4.464286e-02,3.471142e-01,0.415385,0.180077,0.245283,0.075766,0.101370,0.039175,7.594937e-02,0.309220,0.352304,1.647059e-01,3.142857e-01
Unity 3D,1.116256e-01,0.098197,1.430092e-01,1.160714e-01,8.882521e-02,0.096503,0.149425,0.119497,0.095265,0.104110,0.134021,9.810127e-02,0.086525,0.092141,1.137255e-01,1.714286e-01
Unreal Engine,6.116162e-02,0.053131,7.661205e-02,9.285714e-02,5.157593e-02,0.060140,0.095785,0.069182,0.051811,0.068493,0.074227,5.696203e-02,0.060993,0.035230,5.882353e-02,1.392857e-01
Xamarin,6.412898e-02,0.046015,1.093850e-01,9.107143e-02,2.988129e-02,0.019580,0.084291,0.100629,0.078552,0.076712,0.152577,7.594937e-02,0.031206,0.048780,1.137255e-01,1.607143e-01
Android Studio,1.529418e-01,0.122865,1.687593e-01,1.875000e-01,9.946787e-02,0.086713,0.206897,0.169811,0.114763,0.120548,0.161856,9.810127e-02,0.090780,0.094851,2.235294e-01,2.642857e-01
Atom,1.143851e-01,0.129981,1.170462e-01,1.392857e-01,1.526811e-01,0.177622,0.149425,0.176101,0.136490,0.126027,0.112371,1.265823e-01,0.164539,0.189702,1.647059e-01,2.607143e-01
Coda,3.780075e-03,0.006641,5.745903e-03,8.928571e-03,1.146132e-02,0.008392,0.003831,0.000000,0.013370,0.008219,0.001031,1.582278e-02,0.017021,0.010840,1.960784e-02,1.000000e-01
Eclipse,1.371600e-01,0.153226,1.340711e-01,1.410714e-01,1.260745e-01,0.116084,0.145594,0.169811,0.167131,0.183562,0.193814,1.835443e-01,0.120567,0.146341,1.647059e-01,2.535714e-01
Emacs,4.139182e-02,0.065939,3.256012e-02,5.535714e-02,8.514122e-02,0.093706,0.068966,0.069182,0.035097,0.019178,0.022680,3.481013e-02,0.055319,0.056911,5.098039e-02,1.392857e-01
IPython / Jupyter,5.114442e-02,0.172201,3.915727e-02,7.142857e-02,4.735980e-01,0.496503,0.226054,0.308176,0.156546,0.287671,0.061856,1.139241e-01,0.493617,0.590786,2.470588e-01,4.214286e-01
IntelliJ,2.615812e-01,0.364326,2.040860e-01,2.464286e-01,2.455997e-01,0.297902,0.226054,0.314465,0.169359,0.284932,0.163918,1.740506e-01,0.185816,0.235772,1.882353e-01,2.714286e-01
Komodo,2.211344e-03,0.003321,4.469036e-03,7.142857e-03,2.455997e-03,0.005594,0.000000,0.012579,0.006128,0.002740,0.006186,1.265823e-02,0.007092,0.002710,1.176471e-02,8.928571e-02
Light Table,9.639192e-04,0.002372,6.384337e-04,0.000000e+00,2.046664e-03,0.002797,0.003831,0.006289,0.001671,0.000000,0.000000,3.164557e-03,0.004255,0.000000,0.000000e+00,8.214286e-02
NetBeans,4.292275e-02,0.051233,7.810172e-02,8.571429e-02,3.274662e-02,0.032168,0.068966,0.081761,0.059610,0.052055,0.106186,1.075949e-01,0.038298,0.040650,8.627451e-02,1.535714e-01
Notepad++,2.887032e-01,0.299810,3.888061e-01,3.660714e-01,2.537863e-01,0.209790,0.329502,0.383648,0.408914,0.421918,0.493814,5.284810e-01,0.375887,0.330623,4.549020e-01,4.357143e-01
PHPStorm,7.253964e-02,0.057875,1.455629e-01,1.125000e-01,2.333197e-02,0.025175,0.137931,0.113208,0.058496,0.060274,0.081443,1.012658e-01,0.026950,0.021680,9.411765e-02,1.464286e-01
PyCharm,1.039143e-01,0.214896,1.078953e-01,1.535714e-01,3.225542e-01,0.388811,0.214559,0.333333,0.148747,0.213699,0.107216,1.424051e-01,0.293617,0.325203,1.882353e-01,2.928571e-01
RStudio,1.237975e-02,0.038899,8.725261e-03,2.321429e-02,2.087597e-01,0.141259,0.095785,0.113208,0.124234,0.123288,0.039175,8.227848e-02,0.394326,0.330623,1.647059e-01,2.428571e-01
RubyMine,1.387288e-02,0.015180,1.447116e-02,1.607143e-02,6.549325e-03,0.009790,0.015326,0.062893,0.009471,0.010959,0.009278,1.265823e-02,0.001418,0.008130,3.921569e-03,9.285714e-02
Sublime Text,2.182237e-01,0.252372,2.489891e-01,2.642857e-01,2.374130e-01,0.288112,0.306513,0.295597,0.211142,0.268493,0.225773,2.183544e-01,0.248227,0.336043,3.333333e-01,3.285714e-01
TextMate,7.635752e-03,0.006641,9.150883e-03,1.071429e-02,9.414654e-03,0.009790,0.007663,0.012579,0.006685,0.008219,0.006186,9.493671e-03,0.004255,0.008130,1.176471e-02,9.285714e-02
Vim,2.541723e-01,0.372865,2.834646e-01,3.660714e-01,3.160049e-01,0.409790,0.340996,0.484277,0.161560,0.252055,0.215464,2.689873e-01,0.218440,0.336043,2.392157e-01,3.607143e-01
Visual Studio,6.329169e-01,0.548387,6.697170e-01,6.107143e-01,4.801474e-01,0.499301,0.628352,0.572327,0.597214,0.569863,0.712371,6.835443e-01,0.455319,0.479675,6.117647e-01,6.464286e-01
Visual Studio Code,5.248445e-01,0.444972,5.181954e-01,4.910714e-01,3.929595e-01,0.420979,0.524904,0.452830,0.436212,0.435616,0.477320,4.588608e-01,0.365957,0.390244,4.549020e-01,5.178571e-01
Xcode,9.801735e-02,0.063567,7.703767e-02,7.500000e-02,5.771592e-02,0.067133,0.095785,0.081761,0.061838,0.060274,0.057732,6.329114e-02,0.060993,0.051491,1.019608e-01,1.821429e-01
Zend,2.041241e-03,0.001423,4.681847e-03,3.571429e-03,8.186656e-04,0.001399,0.000000,0.012579,0.001671,0.005479,0.009278,9.493671e-03,0.001418,0.002710,2.352941e-02,9.285714e-02
BSD,8.694173e-04,0.001423,2.766546e-03,0.000000e+00,8.186656e-04,0.002797,0.007663,0.000000,0.001114,0.000000,0.001031,6.329114e-03,0.000000,0.000000,0.000000e+00,7.142857e-03
Linux-based,2.372375e-01,0.309772,2.549479e-01,3.321429e-01,3.888661e-01,0.433566,0.360153,0.427673,0.161003,0.243836,0.175258,1.582278e-01,0.222695,0.352304,2.392157e-01,2.928571e-01

In [40]:
results = df.groupby(['Data scientist or machine learning specialist']).mean().reset_index()
# results = df_datascience.groupby(['DevType_Data scientist or machine learning specialist']).mean().reset_index()
results = results.transpose()

In [44]:
results[['Designer','Developer, backend']].transpose()

KeyError: "['Designer' 'Developer, backend'] not in index"

In [ ]:
columnsList = []
for each in devtype_options:
    columnsList.append('DevType' + '_' + each)
columnsList.remove('DevType_Data scientist or machine learning specialist')
results[columnsList].transpose().plot.bar()
plt.show()

### Years of code

In [ ]:
df['YearsCodePro'].head(50)

In [ ]:
df['Country'].value_counts()